{{ $fallbackGlobal := .fallbackGlobal }}
{{ $preferOriginal := .preferOriginal }}
{{ $image := false }}
{{ with .context }}
  {{ with .Params.images }}
    {{ $image = index . 0 | relURL }}
  {{ else }}
    {{ $images := .Resources.ByType "image" }}
    {{ $featured := $images.GetMatch "*feature*" }}
    {{ $featured := cond (ne $featured nil) $featured ($images.GetMatch "{*cover*,*thumbnail*}") }}
    {{ with $featured }}
      {{ if not $preferOriginal }}
        {{ if gt $featured.Width 720 }}
          {{ $featured = $featured.Resize "720x jpg q90 Lanczos" }}
        {{ end }}
      {{ end }}
      {{ $image = $featured.RelPermalink }}
    {{ else }}
      {{ if $fallbackGlobal }}
        {{ with .Parent }}
          {{ $image = partial "functions/feature-image" (dict "context" . "fallbackGlobal" $fallbackGlobal "preferOriginal" $preferOriginal) }}
        {{ else }}
          {{ with site.Params.images }}
            {{ $image = index . 0 | relURL }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
{{ return $image }}
