<div class="article-list">
  {{ range . }}
    <article>
      <header>
        {{ if not .Params.page }}
          <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006/01/02" }}</time>
        {{ end }}
        <h2>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h2>
      </header>
      {{ $link := .RelPermalink }}
      {{ with partial "functions/feature-image" (dict "context" . "fallbackGlobal" false "preferOriginal" false) }}
        <a href="{{ $link }}" class="thumbnail-link">
          <img class="thumbnail" src="{{ . }}">
        </a>
      {{ end }}
      {{ if .Summary }}
        <div class="summary">
          {{ if .Truncated }}
            {{ printf "%s&nbsp;…" (trim (.Summary | plainify) " \n") | safeHTML }}
            <a href="{{ .RelPermalink }}" class="read-more">続きを読む</a>
          {{ else }}
            {{ .Summary | plainify | safeHTML }}
          {{ end }}
        </div>
      {{ end }}
    </article>
  {{ end }}
</div>
