<div class="article-list">
  {{ range . }}
    <article>
      <header>
        {{ if not .Params.page }}
          <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006/01/02" }}</time>
        {{ end }}
        <h2>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h2>
      </header>
      {{ $link := .RelPermalink }}
      {{ $title := .LinkTitle }}
      {{ with partial "functions/feature-image" (dict "context" . "fallbackGlobal" false "preferOriginal" false) }}
        <a href="{{ $link }}" class="thumbnail-link">
          <img class="thumbnail" src="{{ . }}" alt="{{ $title }}">
        </a>
      {{ end }}
      {{ $summary := (trim (.Summary | plainify) " \n") }}
      {{ if and site.Params.showSummary $summary }}
        <div class="summary">
          {{ if .Truncated }}
            {{ printf "%s&nbsp;…" $summary | safeHTML }}
          {{ else }}
            {{ $summary | safeHTML }}
          {{ end }}
        </div>
      {{ end }}
    </article>
  {{ end }}
</div>
