{{ $created := .Date.Format "2006/01/02" }}
{{ $lastmod := .Lastmod.Format "2006/01/02" }}
<article class="single">
  <header>
    <h1 class="title" itemprop="headline">{{ .Title }}</h1>
    {{ if .Params.page }}
      {{ if site.Params.showLastmod }}
        <div class="time">
          <div>更新: <time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ $lastmod }}</time></div>
        </div>
      {{ end }}
    {{ else }}
      <div class="time">
        {{ if or (not site.Params.showLastmod) (eq $created $lastmod) }}
          <div><time datetime="{{ .Date.Format "2006-01-02" }}"> {{ $created }}</time></div>
        {{ else }}
          <div>公開: <time datetime="{{ .Date.Format "2006-01-02" }}">{{ $created }}</time></div>
          <div>更新: <time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ $lastmod }}</time></div>
        {{ end }}
      </div>
    {{ end }}
  </header>
  <div class="body">
    {{ if .Param "toc" }}
      {{ if and (.Param "tocAfterSummary") .Truncated }}
        {{ .Summary }}
        {{ partial "components/table-of-contents" . }}
        {{ .ContentWithoutSummary }}
      {{ else }}
        {{ partial "components/table-of-contents" . }}
        {{ .Content }}
      {{ end }}
    {{ else }}
      {{ .Content }}
    {{ end }}
  </div>
  <footer>
    {{ $hasTerms := false }}
    {{ $section := false }}
    {{ if and .Parent (not .Parent.IsHome) }}
      {{ $section = .Parent }}
    {{ end }}
    {{ $taxonomyTag := "tags" }}
    {{ $tagTerms := .GetTerms $taxonomyTag }}
    {{ if $tagTerms }}
      {{ $hasTerms = true }}
    {{ end }}
    {{ range $taxonomy, $terms := site.Taxonomies }}
      {{ if not (in (slice "tags" "archives") $taxonomy) }}
        {{ if $.GetTerms $taxonomy }}
          {{ $hasTerms = true }}
        {{ end }}
      {{ end }}
    {{ end }}
    {{ if $hasTerms }}
      <table class="taxonomy-table">
        <tbody>
          {{ with $section }}
            <tr>
              <th>セクション:</th>
              <td>
                <div class="folder">
                  <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                </div>
              </td>
            </tr>
          {{ end }}
          {{ with $tagTerms }}
            <tr>
              <th>{{ (site.GetPage $taxonomyTag).LinkTitle }}:</th>
              <td>
                <ul class="tags">
                  {{ range . }}
                    <li class="tag"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
                  {{ end }}
                </ul>
              </td>
            </tr>
          {{ end }}
          {{ range $taxonomy, $terms := site.Taxonomies }}
            {{ if not (in (slice "tags" "archives") $taxonomy) }}
              {{ with $.GetTerms $taxonomy }}
                <tr>
                  <th>{{ (site.GetPage $taxonomy).LinkTitle }}:</th>
                  <td>
                    <ul class="terms">
                      {{ range . }}
                        <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
                      {{ end }}
                    </ul>
                  </td>
                </tr>
              {{ end }}
            {{ end }}
          {{ end }}
        </tbody>
      </table>
    {{ end }}
    {{ if site.Params.showAuthor }}
      {{ $author := false }}
      {{ $authorLink := false }}
      {{ if .Params.author }}
        {{ $author = .Params.author }}
        {{ $authorLink = .Params.authorLink | default $authorLink }}
      {{ else if site.Params.author }}
        {{ $author = site.Params.author }}
        {{ $authorLink = site.Params.authorLink | default $authorLink }}
      {{ end }}
      {{ if or $author $authorLink }}
        <div class="author" itemprop="author" itemscope itemtype="https://schema.org/Person">
          {{ if and $author $authorLink }}
            <a rel="author" href="{{ $authorLink }}" itemprop="url"><span itemprop="name">{{ $author }}</span></a>
          {{ else if $author }}
            <span itemprop="name">{{ $author }}</span>
          {{ else if $authorLink }}
            <meta itemprop="url" content="{{ $authorLink }}">
          {{ end }}
        </div>
      {{ end }}
    {{ end }}
  </footer>
</article>
