{{ $related := partial "functions/filter-articles" (site.RegularPages.Related .) | first site.Params.relatedNum }}
{{ $random := shuffle (complement $related (partial "functions/filter-articles" site.RegularPages)) | first site.Params.randomNum }}
{{ $seeAlso := $related | append $random }}
{{ if site.Params.shuffleSeeAlso }}
  {{ $seeAlso = shuffle $seeAlso }}
{{ end }}
{{ with $seeAlso }}
  <nav class="pane">
    <header class="component-title">{{ site.Params.readNextText | default "次に読む" }}</header>
    <ul class="dense">
      {{ range . }}
        <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      {{ end }}
    </ul>
  </nav>
{{ end }}
