{{ $related := partial "functions/filter-articles" (.Site.RegularPages.Related .) | first .Site.Params.relatedNum }}
{{ $random := shuffle (partial "functions/filter-articles" .Site.RegularPages) | first .Site.Params.randomNum }}
{{ $seeAlso := $related | append $random }}
{{ if .Site.Params.shuffleSeeAlso }}
  {{ $seeAlso = shuffle $seeAlso }}
{{ end }}
{{ with $seeAlso }}
  <nav class="pane">
    <header class="component-title">次に読む</header>
    <ul>
      {{ range . }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  </nav>
{{ end }}
