{{ if .IsHome }}
  <meta property="og:type" content="website">
{{ else if .IsPage }}
  <meta property="og:type" content="article">
{{ else }}
  <meta property="og:type" content="website">
{{ end }}
<meta property="og:site_name" content="{{ site.Title }}">
{{ with partial "functions/title" . }}
  <meta property="og:title" content="{{ . }}">
{{ end }}
{{ with partial "functions/description" . }}
  <meta property="og:description" content="{{ . }}">
{{ end }}
<meta property="og:url" content="{{ .Permalink }}">
{{ with partial "functions/feature-image" (dict "context" . "fallbackGlobal" true "preferOriginal" true) }}
  <meta property="og:image" content="{{ . | absURL }}">
{{ end }}
