{{ define "section-tree" }}
  {{ with .Sections }}
    <ul class="folders">
      {{ range . }}
        {{ $n := 0 }}
        {{ if site.Params.recursiveListing }}
          {{ $n = len .RegularPagesRecursive }}
        {{ else }}
          {{ $n = len .RegularPages }}
        {{ end }}
        <li class="folder">
          <a href="{{ .RelPermalink }}">
            {{ .LinkTitle }}{{ if and site.Params.showTreeCount $n }} ({{ $n }}) {{ end }}
          </a>
          {{ template "section-tree" . }}
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}

{{ with site.GetPage (site.Params.treeRoot | default "/") }}
  {{ if .Sections }}
    <nav class="pane">
      {{ template "section-tree" . }}
    </nav>
  {{ end }}
{{ end }}
