{{ $pinned := where site.RegularPages "Params.pin" "==" true }}
<nav class="pane">
  <ul>
    {{ with site.Home }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .LinkTitle | default "ホーム" }}</a>
      </li>
    {{ end }}
    {{ range $pinned }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      </li>
    {{ end }}
    {{ with site.GetPage "archives" }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      </li>
    {{ end }}
    {{ with site.GetPage "search" }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      </li>
    {{ end }}
    {{ with site.Home.OutputFormats.Get "rss" }}
      <li>
        <a href="{{ .RelPermalink }}">RSS</a>
      </li>
    {{ end }}
  </ul>
</nav>
