{{ $pinned := where site.RegularPages "Params.pin" "==" true }}
<nav class="pane">
  <ul>
    <li>
      <a href="{{ site.Home.RelPermalink }}">ホーム</a>
    </li>
    {{ range $pinned }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      </li>
    {{ end }}
    {{ with site.GetPage "archives" }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      </li>
    {{ end }}
    {{ with site.Home.OutputFormats.Get "rss" }}
      <li>
        <a href="{{ .RelPermalink }}">RSS</a>
      </li>
    {{ end }}
  </ul>
</nav>
