{{ define "section-tree" }}
  {{ with .Sections }}
    <ul class="folders">
      {{ range . }}
        {{ $n := len .RegularPagesRecursive }}
        <li class="folder">
          <a href="{{ .RelPermalink }}">
            {{ .LinkTitle }}{{ if and site.Params.showTreeCount $n }} ({{ $n }}) {{ end }}
          </a>
          {{ template "section-tree" . }}
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}

{{ if site.Params.treeRoot }}
  {{ with site.GetPage site.Params.treeRoot }}
    {{ if .Sections }}
      <nav class="pane">
        {{ template "section-tree" . }}
      </nav>
    {{ end }}
  {{ end }}
{{ else }}
  {{ if site.Sections }}
    <nav class="pane">
      {{ template "section-tree" site }}
    </nav>
  {{ end }}
{{ end }}
