{{ define "section-tree" }}
  {{ with .Sections }}
    <ul class="folders">
      {{ range . }}
        {{ $n := len .RegularPagesRecursive }}
        <li class="folder">
          <a href="{{ .RelPermalink }}">
            {{ .LinkTitle }}{{ if $n }} ({{ $n }}) {{ end }}
          </a>
          {{ template "section-tree" . }}
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}

<nav class="pane">
  {{ if .Site.Params.treeRoot }}
    {{ template "section-tree" (.Site.GetPage .Site.Params.treeRoot) }}
  {{ else }}
    {{ template "section-tree" .Site }}
  {{ end }}
</nav>
