{{ $terms := index site.Taxonomies "tags" }}
{{ if $terms }}
  <nav class="pane">
    {{ with site.GetPage "tags" }}
      <header class="component-title">
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      </header>
      <ul class="tags">
        {{ range partial "functions/sort-terms" (dict "context" .Pages "fullTitle" false) }}
          <li class="tag">
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </nav>
{{ end }}
