{{ $ellipsizedText := site.Params.tagEllipsizedText }}
{{ if eq $ellipsizedText true }}
  {{ $ellipsizedText = "" }}
{{ end }}
{{ $terms := index site.Taxonomies "tags" }}
{{ if $terms }}
  {{ with site.GetPage "/tags" }}
    {{ $tagPage := . }}
    {{ $fullLen := len .Pages }}
    {{ $filtered := where .Pages "Pages.Len" ">=" site.Params.sidebarTagThreshold }}
    {{ $showLen := len $filtered }}
    {{ $collapsed := lt $showLen $fullLen }}
    {{ with $filtered }}
      <nav class="pane">
        <header class="component-title">
          <a href="{{ $tagPage.RelPermalink }}">{{ $tagPage.LinkTitle }}</a>
        </header>
        <ul class="tags{{ if $collapsed }} collapsed{{ end }}">
          {{ range partial "functions/sort-terms" (dict "context" . "fullTitle" false) }}
            <li class="tagged">
              <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            </li>
          {{ end }}
        </ul>
        {{ if and $collapsed (ne $ellipsizedText false) }}
          <footer>
            <div class="collapse-text">
              <a href="{{ $tagPage.RelPermalink }}">{{ with $ellipsizedText }}{{ . }}{{ else }}すべての{{ $tagPage.LinkTitle }}一覧{{ end }}</a>
            </div>
          </footer>
        {{ end }}
      </nav>
    {{ end }}
  {{ end }}
{{ end }}
