{{ range $taxonomy, $terms := site.Taxonomies }}
  {{ if not (in (slice "tags" "archives") $taxonomy) }}
    {{ if $terms }}
      <nav class="pane">
        {{ with site.GetPage $taxonomy }}
          <header class="component-title">
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
          </header>
          <ul>
            {{ range .Pages }}
              <li>
                <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </nav>
    {{ end }}
  {{ end }}
{{ end }}
