<nav class="pane">
  <ul>
    {{ range $taxonomy, $terms := .Site.Taxonomies }}
      {{ if not (in (slice "tags" "archives") $taxonomy) }}
        <li>
          {{ with site.GetPage $taxonomy }}
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
          {{ end }}
          <ul>
            {{ range $term, $pages := $terms }}
              <li>
                {{ with site.GetPage (path.Join $taxonomy $term) }}
                  <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                {{ end }}
              </li>
            {{ end }}
          <ul>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</nav>
