{{ $katex := "https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.js" }}
{{ $autoRender := "https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/contrib/auto-render.min.js" }}
{{ if site.Params.preBundle }}
  {{ $scripts := slice }}
  {{ $scripts = $scripts | append (resources.GetRemote $katex) }}
  {{ $scripts = $scripts | append (resources.GetRemote $autoRender) }}
  {{ $script := $scripts | resources.Concat "katex.js" | minify | fingerprint }}
  <script defer src="{{ $script.RelPermalink }}" onload="renderMathInElement(document.body);"></script>
{{ else }}
  <script defer src="{{ $katex }}"></script>
  <script defer src="{{ $autoRender }}" onload="renderMathInElement(document.body);"></script>
{{ end }}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    renderMathInElement(document.body, {
      delimiters: [
        {left: "$$", right: "$$", display: true},
        {left: "$", right: "$", display: false},
        {left: "\\(", right: "\\)", display: false},
        {left: "\\[", right: "\\]", display: true}
      ],
      throwOnError: false
    });
  });
</script>
