{{ $csss := slice }}
{{ $csss = $csss | append (resources.Get "font.css") }}
{{ $csss = $csss | append (resources.Get "basic.css") }}
{{ $csss = $csss | append (resources.Get "main.css") }}
{{ $csss = $csss | append (resources.Get "font-palt.css") }}
{{ $csss = $csss | append (resources.Get "color.css") }}
{{ $csss = $csss | append (resources.Get "header.css") }}
{{ $csss = $csss | append (resources.Get "header-image.css" | resources.ExecuteAsTemplate "image.css" .) }}
{{ $csss = $csss | append (resources.Get "article.css") }}
{{ $csss = $csss | append (resources.Get "article-auxiliary.css") }}
{{ $csss = $csss | append (resources.Get "katex-auxiliary.css") }}
{{ $csss = $csss | append (resources.Get "search.css") }}
{{ $csss = $csss | append (resources.Get "custom.css") }}
{{ $css := $csss | resources.Concat "bundle.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}">
