{{ define "breadcrumb" }}
  {{ $scratch := .scratchPad }}
  {{ with .context }}
    {{ if .Parent }}
      {{ template "breadcrumb" (dict "context" .Parent "scratchPad" $scratch) }}
      {{ $scratch.Add "position" 1 }}
    {{ end }}
    {{ $i := $scratch.Get "position" }}
    {{ if .IsHome }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle | default "ホーム" }}</a></li>
    {{ else if not .IsPage }}
      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a href="{{ .RelPermalink }}" itemprop="item"><span itemprop="name">{{ .LinkTitle }}</span></a>
        <meta itemprop="position" content="{{ $i }}">
      </li>
    {{ end }}
  {{ end }}
{{ end }}

{{ if not .IsHome }}
  {{ $scratch := newScratch }}
  {{ $scratch.Set "position" 0 }}
  <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
    {{ if .Parent }}
      {{ template "breadcrumb" (dict "context" .Parent "scratchPad" $scratch) }}
      {{ $scratch.Add "position" 1 }}
    {{ end }}
    {{ $i := $scratch.Get "position" }}
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" {{ if .IsPage }}{{ "class=\"page\"" | safeHTMLAttr }}{{ end }}>
      <a aria-current="location"><span itemprop="name">{{ .LinkTitle }}</span></a>
      <meta itemprop="position" content="{{ $i }}">
    </li>
  </ol>
{{ end }}
