{{ $slots := site.Params.paginationSlots }}
{{ $paginator := .Paginator }}
{{ with $paginator }}
  {{ if eq $slots true }}
    {{ $slots = 5 }}
  {{ else if eq $slots false }}
    {{ $slots = .TotalPages }}
  {{ end }}
  <ol class="pagination">
    {{ $currentPageNumber := .PageNumber }}
    {{ with .First }}
      {{ if ne $currentPageNumber .PageNumber }}
        <li class="page-item first">
          <a href="{{ .URL }}" aria-label="最初のページ" class="page-link"><span aria-hidden="true">&#x23EE;&#xFE0E;</span></a>
        </li>
      {{ else }}
        <li class="page-item first disabled">
          <a aria-disabled="true" aria-label="最初のページ" class="page-link" tabindex="-1"><span aria-hidden="true">&#x23EE;&#xFE0E;</span></a>
        </li>
      {{ end }}
    {{ end }}
    {{ with .Prev }}
      <li class="page-item prev">
        <a href="{{ .URL }}" aria-label="前のページ" class="page-link"><span aria-hidden="true">&#x23EA;&#xFE0E;</span></a>
      </li>
    {{ else }}
      <li class="page-item prev disabled">
        <a aria-disabled="true" aria-label="前のページ" class="page-link" tabindex="-1"><span aria-hidden="true">&#x23EA;&#xFE0E;</span></a>
      </li>
    {{ end }}
    {{ if $slots }}
      {{ $start := math.Max 1 (sub .PageNumber (math.Floor (div $slots 2))) }}
      {{ $end := math.Min .TotalPages (sub (add $start $slots) 1) }}
      {{ if lt (add (sub $end $start) 1) $slots }}
        {{ $start = math.Max 1 (add (sub $end $slots) 1) }}
      {{ end }}
      {{ range $k := seq $start $end }}
        {{ if eq $paginator.PageNumber $k }}
          <li class="page-item active">
            <a aria-current="page" aria-label="ページ {{ $k }}" class="page-link">{{ $k }}</a>
          </li>
        {{ else }}
          <li class="page-item">
            <a href="{{ (index $paginator.Pagers (sub $k 1)).URL }}" aria-label="ページ {{ $k }}" class="page-link">{{ $k }}</a>
          </li>
        {{ end }}
      {{ end }}
    {{ end }}
    {{ with .Next }}
      <li class="page-item next">
        <a href="{{ .URL }}" aria-label="次のページ" class="page-link"><span aria-hidden="true">&#x23E9;&#xFE0E;</span></a>
      </li>
    {{ else }}
      <li class="page-item next disabled">
        <a aria-disabled="true" aria-label="次のページ" class="page-link" tabindex="-1"><span aria-hidden="true">&#x23E9;&#xFE0E;</span></a>
      </li>
    {{ end }}
    {{ with .Last }}
      {{ if ne $currentPageNumber .PageNumber }}
        <li class="page-item last">
          <a href="{{ .URL }}" aria-label="最後のページ" class="page-link"><span aria-hidden="true">&#x23ED;&#xFE0E;</span></a>
        </li>
      {{ else }}
        <li class="page-item last disabled">
          <a aria-disabled="true" aria-label="最後のページ" class="page-link" tabindex="-1"><span aria-hidden="true">&#x23ED;&#xFE0E;</span></a>
        </li>
      {{ end }}
    {{ end }}
  </ol>
{{ end }}
