<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "heads/basic" . }}
    {{ partial "heads/icons" . }}
    {{ partial "heads/ogp" . }}
    {{ partial "heads/custom" . }}
  </head>
  <body>
    <div id="frame">
      {{ partial "header" . }}
      <div id="content">
        {{ if not .IsHome }}
          <nav id="breadcrumb" class="pane">
            {{ partial "components/breadcrumb" . }}
          </nav>
        {{ end }}
        <main class="pane">
          {{ template "main" . }}
        </main>
        {{ partial "sidebar" . }}
      </div>
      {{ partial "footer" . }}
    </div>
  </body>
</html>
