<!DOCTYPE html>
<html lang="{{ with .Params.lang }}{{ . }}{{ else }}{{ .Site.Language.Lang }}{{ end }}">
  <head>
    {{ partial "heads/basic" . }}
    {{ partial "heads/icons" . }}
    {{ partial "heads/ogp" . }}
    {{ partial "heads/custom" . }}
  </head>
  <body>
    <div id="container">
      {{ partial "header" . }}
      <div id="middle">
        <div id="content" class="column">
          {{ if not .IsHome }}
            <nav id="breadcrumb">
              {{ partial "components/breadcrumb" . }}
            </nav>
          {{ end }}
          <main>
            {{ template "main" . }}
          </main>
          {{ partial "widgets/content-bottom" . }}
        </div>
        {{ partial "sidebar" . }}
      </div>
      {{ partial "footer" . }}
    </div>
  </body>
</html>
