<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <title>
      {{ if .IsHome }}
        {{ .Site.Title }}
      {{ else }}
        {{ printf "%s | %s" .Title .Site.Title }}
      {{ end }}
    </title>
    <link rel="stylesheet" href="/main.css">
    {{ partial "head/custom" . }}
  </head>
  <body>
    {{ partial "header" . }}
    <div id="content">
      <main>
        {{ template "main" . }}
      </main>
      {{ partial "sidebar" . }}
    </div>
    {{ partial "footer" . }}
  </body>
</html>
