{{ define "eager-paginate" }}
  {{ $paginator := .Paginator }}
{{ end }}

{{ define "rel-seq" }}
  {{ partial "heads/pagination" . }}
{{ end }}

{{ define "robots" }}
  {{ if not .Content }}
    <meta name="robots" content="NOINDEX">
  {{ end }}
{{ end }}

{{ define "main" }}
  {{ $paginator := .Paginator }}
  <div class="single">
    <header>
      {{ if eq .Page.Kind "term" }}
        {{ $taxonomy := .Data.Plural }}
        {{ if eq $taxonomy "tags" }}
          <h1 class="list-title list-title-tag">{{ .Title }}</h1>
        {{ else }}
          <h1 class="list-title"><span class="list-title-taxonomy">{{ (site.GetPage $taxonomy).Title }}:</span> {{ .Title }}</h1>
        {{ end }}
      {{ else }}
        <h1 class="list-title">{{ .Title }}</h1>
      {{ end }}
      {{ if gt $paginator.TotalPages 1 }}
        <small class="page-num">
          {{ $paginator.PageNumber }} / {{ $paginator.TotalPages }} ページ
        </small>
      {{ end }}
    </header>
    {{ with .Content }}
      <div class="body">
        {{ . }}
      </div>
    {{ end }}
  </div>
  {{ partial "components/article-list" $paginator.Pages }}
{{ end }}

{{ define "page-nav" }}
  {{ partial "components/paginator" . }}
{{ end }}
