{{ define "main" }}
  {{ $paginator := .Paginator }}
  <div class="single">
    <header>
      <h1 class="list-title">{{ .Title }}</h1>
      {{ if gt $paginator.TotalPages 1 }}
        <small class="page-num">
          {{ $paginator.PageNumber }} / {{ $paginator.TotalPages }} ページ
        </small>
      {{ end }}
    </header>
    {{ with .Content }}
      <div class="body">
        {{ . }}
      </div>
    {{ end }}
  </div>
  {{ partial "components/article-list" $paginator.Pages }}
{{ end }}

{{ define "page-nav" }}
  {{ partial "components/paginator" . }}
{{ end }}
