{{ define "main" }}
  {{ partial "components/article" . }}
{{ end }}

{{ define "page-nav" }}
  {{ if not .Params.page }}
    {{ $prev := partial "functions/prev-article" . }}
    {{ $next := partial "functions/next-article" . }}
    {{ if or $prev $next }}
      <nav class="prev-next">
        {{ with $next }}
          <a class="next" href="{{ .RelPermalink }}" title="次の記事: {{ .LinkTitle }}">
            <div>« {{ .LinkTitle }}</div>
          </a>
        {{ end }}
        {{ with $prev }}
          <a class="prev" href="{{ .RelPermalink }}" title="前の記事: {{ .LinkTitle }}">
            <div>» {{ .LinkTitle }}</div>
          </a>
        {{ end }}
      </nav>
    {{ end }}
  {{ end }}
{{ end }}
