:root {
  /* 主要テーマ色 (color.css) */
  --nagoya-background-color: initial;
  --nagoya-accent-color: initial;
  --nagoya-header-border-color: initial;
  --nagoya-site-title-color: initial;
  --nagoya-site-description-color: initial;
  --nagoya-container-background-color: initial;
  --nagoya-footer-background-color: initial;
  --nagoya-footer-border-color: initial;
  --nagoya-footer-text-color: initial;
  --nagoya-pane-tint-color: initial;
  --nagoya-component-title-color: initial;
  --nagoya-folder-icon-color: initial;
  --nagoya-tag-icon-color: initial;
  --nagoya-toc-background-tint-color: initial;
  --nagoya-link-color: initial;
  --nagoya-article-link-color: initial;
  --nagoya-thead-background-color: initial;
  --nagoya-table-even-row-background-color: initial;

  /* コンテンツ */
  --nagoya-default-text-color: initial;
  --nagoya-default-background-color: initial;
  --nagoya-code-plain-background-color: initial;
  --nagoya-code-plain-text-color: initial;

  /* 要素一般 (basic.css) */
  --nagoya-hr-color: initial;
  --nagoya-blockquote-ribbon-color: initial;
  --nagoya-marker-background-color: initial;
  --nagoya-ins-background-color: initial;
  --nagoya-del-background-color: initial;
  --nagoya-kbd-background-color: initial;
  --nagoya-kbd-border-color: initial;
  --nagoya-kbd-box-highlight-color: initial;
  --nagoya-kbd-box-shadow-color: initial;
  --nagoya-kbd-text-color: initial;
}
