{{ define "main" }}
  <div class="single">
    <h1 class="list-title">{{ .Title }}</h1>
    {{ with .Content }}
      <div class="body">
        {{ . }}
      </div>
    {{ end }}
  </div>
  {{ with partial "functions/filter-articles" site.RegularPages }}
    <ol class="archives">
      {{ range .GroupByDate "2006" }}
        {{ $year := .Key }}
        <li>
          <h2>{{ $year }}</h2>
          {{ range .Pages }}
            <ul>
              <li>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
              </li>
            </ul>
          {{ end }}
        </li>
      {{ end }}
    </ol>
  {{ end }}
{{ end }}
