{{ define "main" }}
  {{ $paginator := (.Paginate (partial "functions/filter-articles" .Site.RegularPages)).Pages }}
  {{ if or .Title .Content }}
    <article class="single">
      {{ with .Title }}
        <h1>{{ . }}</h1>
      {{ end }}
      {{ with .Content }}
        <div class="body">
          {{ . }}
        </div>
      {{ end }}
    </article>
  {{ end }}
  {{ with $paginator }}
    {{ partial "components/article-list" . }}
  {{ end }}
{{ end }}

{{ define "page-nav" }}
  {{ partial "components/paginator" . }}
{{ end }}
