main h1 {
  font-size: 26px;
  font-weight: bold;
}

.single {
  display: flex;
  flex-flow: column;
  row-gap: 10px;
  container-type: inline-size;
}

.single h1.title {
  font-size: 27px;
}

.single .time {
  display: flex;
  justify-content: end;
  gap: 20px;
  color: #4d4d4d;
  font-size: 0.88em;
  line-height: 1.1;
}

.single time {
  display: inline;
}

.toc {
  display: inline-flex;
  flex-flow: column;
  min-width: 40%;
  margin: 16px 2px;
  padding: 8px 24px 8px 12px;
  border-radius: 16px;
}

.toc-title {
  text-align: center;
}

.single h2 {
  margin-top: 32px;
  margin-bottom: 16px;
  padding-bottom: 4px;
  padding-left: 2px;
  border-bottom: 1px solid #d1d8df;
  font-size: 24px;
}

.single h3 {
  margin-top: 16px;
  margin-bottom: 2px;
  padding-left: 4px;
}

.single h4, .single h5, .single h6 {
  margin-top: 6px;
  padding-left: 4px;
}

.single h2:first-child {
  margin-top: 4px;
}

.single p {
  margin: 12px 0;
  padding-left: 4px;
  padding-right: 4px;
  text-indent: 6px;
}

.single p:has(img) {
  text-indent: 0;
}

.single a {
  text-decoration: underline;
}

.single .toc a {
  text-decoration: none;
}

.single img {
  margin: 16px 0;
}

.single figure {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 16px 0;
}

.single figure img {
  margin: 0;
}

.single figure figcaption {
  font-size: 95%;
  font-style: italic;
}

.single figure figcaption p {
  margin: 10px 0;
  text-indent: 0;
}

.single figure figcaption code {
  font-style: normal;
}

.single ul, .single ol {
  margin-top: 14px;
  margin-bottom: 14px;
  padding-left: 32px;
  padding-right: 4px;
}

.single ul ul, .single ul ol, .single ol ul, .single ol ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 18px;
  padding-right: 0;
}

.single :not(pre) > code {
  padding: 0.2rem 0.4rem;
  border-radius: 5px;
  background-color: #e5e9ec;
  font-size: 95%;
  white-space: break-spaces;
}

.single .toc code {
  display: contents;
}

.single :is(h1, h2, h3, h4, h5, h6) code {
  padding: 0;
  background-color: initial;
}

.single pre {
  margin: 24px 0;
  padding: 8px 12px;
  border-radius: 6px;
  overflow-x: auto;
}

.single blockquote .highlight {
  margin-left: 6px;
}

.single th, .single td {
  padding: 5px 10px;
  border: 1px solid #d1d8df;
}

.single dl {
  padding-left: 4px;
  padding-right: 4px;
}

.single details {
  margin: 12px 0;
  padding-left: 4px;
  padding-right: 4px;
}

.footnotes {
  margin-top: 32px;
}

.footnote-ref {
  padding-left: 1px;
  padding-right: 1px;
  font-size: 96%;
}

.footnote-ref::before {
  display: inline;
  content: "[";
}

.footnote-ref::after {
  display: inline;
  content: "]";
}

@container (min-width: 600px) {
  .toc {
    margin: 16px 2px 28px 36px;
  }
}
