* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.7;
  text-underline-offset: 3px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 2px 0 4px;
  font-weight: bold;
  line-height: 1.4;
}

h1 {
  font-size: 30px;
  word-spacing: -2px;
}

h2 {
  font-size: 25px;
  word-spacing: -1px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

img {
  max-width: 100%;
  margin: 10px 0;
}

p {
  margin: 8px 0;
}

i {
  font-style: italic;
}

small {
  font-size: 85%;
}

a {
  text-decoration: none;
}

ul, ol {
  padding-left: 21px;
  list-style-position: outside;
}

ul {
  list-style-type: disc;
}

ul ul {
  list-style-type: circle;
}

ul ul ul {
  list-style-type: square;
}

li {
  padding-left: 1px;
}

table {
  max-width: 100%;
  margin: 10px 0;
}

th, td {
  padding: 1px;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  line-height: 1.5;
}

pre, code {
  tab-size: 4;
}

blockquote {
  margin: 12px;
  padding: 2px 15px 2px 5px;
  border-left: 4px solid #5d686f;
  font-style: italic;
}

hr {
  margin: 0.5em auto;
  border: 1px inset #cfcfcf;
  overflow: hidden;
}

dl {
  margin: 16px 0;
}

dt {
  font-weight: bold;
}

dd {
  padding-left: 24px;
}

kbd {
  padding: 2px 4px;
  border: 1px solid #b4b4b4;
  border-radius: 3px;
  box-shadow: 0 1px 1px #00000033, 0 2px 0 0 #ffffffb3 inset;
  background-color: #eee;
  font-size: 85%;
  line-height: 1;
  white-space: nowrap;
}

kbd:has(kbd) {
  display: contents;
}
