html, body {
  background-color: #474a8a;
}

header#top {
  border-bottom-color: #4b8bbe;
}

header#top #site-title a {
  color: #fff;
}

header#top #description {
  color: #ffe873;
}

div#container {
  background-color: #bdd1f3;
}

footer#bottom {
  background-color: #474a8a;
  border-top-color: #3ea7ac;
  color: #fff;
}

.component-title {
  color: #494da4;
}

.toc {
  background-color: #d7f2fe;
}

a[href] {
  color: #0041ad;
}

.single a[href] {
  color: #0053d4;
}

.single thead tr {
  background-color: #e5e4f7;
}

.single tr:nth-child(2n) {
  background-color: #f5f5f5;
}
