html, body {
  background-color: #2c9758;
}

#top {
  border-bottom-color: #2c9758;
}

#site-title a {
  color: #fff;
}

#description {
  color: #a4ebff;
}

#container {
  background-color: #cdccee;
}

#bottom {
  background: #2c9758;
  color: #fff;
}

a[href] {
  color: #1010e3;
}
