html, body {
  background-color: #2c9758;
}

header#top {
  border-bottom-color: #2c9758;
}

header#top #site-title a {
  color: #fff;
}

header#top #description {
  color: #a4ebff;
}

div#container {
  background-color: #cdccee;
}

footer#bottom {
  background-color: #2c9758;
  border-top-color: #2dd099;
  color: #fff;
}

.component-title {
  color: #5e78ff;
}

a[href] {
  color: #1010e3;
}

.single a[href] {
  color: #0076d1;
}
