#top {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  border-bottom-width: 8px;
  border-bottom-style: solid;
  background-size: cover;
  background-position: 80% 70%;
  line-height: 1.4;
}

#header-grid {
  display: grid;
  grid-auto-rows: 0.8fr;
  gap: 10px;
  padding: 20px 12px 0;
}

#site-title {
  align-self: end;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  text-shadow: 1px 1px #000000c4;
}

@container (min-width: 540px) {
  #site-title {
    font-size: 42px;
  }
}

#description {
  text-align: center;
  font-size: 20px;
  text-shadow: 1px 1px #000000c4;
}
