body {
  min-width: 420px;
  overflow-x: hidden;
  overflow-wrap: break-word;
  overscroll-behavior: none auto;
}

#container {
  container-type: inline-size;
}

#middle {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
}

.column {
  display: grid;
  grid-auto-flow: row;
}

.pane {
  padding: 18px 24px;
  background-color: #fff6;
}

main.pane {
  background-color: white;
  padding: 24px 32px;
}

@container (min-width: 840px) {
  #middle {
    grid-template-columns: minmax(300px, auto) 300px;
  }
}

@container (min-width: 1160px) {
  #middle {
    max-width: 1240px;
    margin: 30px auto;
    padding: 0 20px;
    grid-template-columns: minmax(300px, auto) 320px;
    column-gap: 30px;
    row-gap: 20px;
  }

  .column {
    row-gap: 18px;
  }

  .pane {
    border-radius: 16px;
  }

  main.pane {
    background-color: white;
    padding: 30px 44px;
  }
}

#breadcrumb {
  padding: 10px 12px 10px 24px;
}

ol.breadcrumb {
  padding: 0px;
}

ol.breadcrumb > li {
  display: inline;
}

ol.breadcrumb > li::after {
  content: " > ";
}

ol.breadcrumb > li:last-child::after {
  content: "";
}

ol.breadcrumb > li:has(a):last-child::after {
  content: " > ";
}

.pagenator {
  padding: 14px 16px;
}

@container (min-width: 1120px) {
  .pagenator {
    padding: 0 16px;
  }
}

.pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
  padding: 0 20px;
  font-size: 18px;
}

.page-item {
  display: block;
  min-width: 42px;
  text-align: center;
}

a.page-link {
  display: block;
  padding: 10px;
  border-radius: 8px;
  background: linear-gradient(180deg, #ffffff70, #ffffffbf);
  color: #282828;
}

a.page-link[href]:hover {
  background: #fff6;
}

#bottom {
  padding: 30px 20px;
  text-align: center;
}
