* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 420px;
  font-size: 16px;
  line-height: 1.7;
  overflow-wrap: break-word;
}

#content {
  display: grid;
  max-width: 1100px;
  margin: auto;
  grid-template-columns: minmax(300px, auto) 300px;
  gap: 30px;
  align-items: start;
}

#breadcrumb {
  grid-column: 1 / -1;
}

main {
  border-radius: 16px;
  background-color: white;
  padding: 24px;
}

#content > aside {
  background-color: #fff6;
  border-radius: 16px;
  padding: 18px;
  backdrop-filter: blur(4px);
}

img {
  max-width: 100%;
}

pre {
  border-radius: 6px;
  overflow-x: auto;
  padding: 6px 10px;
}

ul, ol {
  padding-left: 20px;
}




.footnote-ref {
 font-size: 95%;
}
.footnote-ref::before {
  display: inline;
  content: "[";
}
.footnote-ref::after {
  display: inline;
  content: "]";
}



footer {
  background: rgb(44, 151, 88);
    padding: 30px 20px;
    text-align: center;
    margin-top: 20px;
    color: white;
}
