* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overscroll-behavior: none auto;
}

body {
  min-width: 420px;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.7;
  overflow-x: hidden;
  overflow-wrap: break-word;
  container-type: inline-size;
}

#content {
  display: grid;


  grid-template-columns: 1fr;

  align-items: start;
}

@container (min-width: 840px) {
  #content {

    grid-template-columns: minmax(300px, auto) 300px;

  }
}

@container (min-width: 1120px) {
  #content {
    max-width: 1120px;
    margin: 20px auto;
    padding: 0 20px;

    grid-template-columns: minmax(300px, auto) 300px;

    column-gap: 30px;
    row-gap: 20px;
  }

  .pane {
    border-radius: 16px;
  }
}



#breadcrumb {
  grid-column: 1 / -1;

  background-color: #fff6;

    padding: 12px;
    backdrop-filter: blur(4px);
}

ol.breadcrumb {
  padding-left: 10px;
}



ol.breadcrumb > li {
  display: inline;
}
ol.breadcrumb > li::after {
  content: " > ";
}
ol.breadcrumb > li:last-child::after {
  content: "";
}
ol.breadcrumb > li:has(a):last-child::after {
  content: " > ";
}



main {

  background-color: white;
  padding: 24px;
}

#content > aside {
  background-color: #fff6;

  padding: 18px;
  backdrop-filter: blur(4px);
}

img {
  max-width: 100%;
}

pre {
  border-radius: 6px;
  overflow-x: auto;
  padding: 6px 10px;
}

ul, ol {
  padding-left: 20px;
}




.footnote-ref {
 font-size: 95%;
}
.footnote-ref::before {
  display: inline;
  content: "[";
}
.footnote-ref::after {
  display: inline;
  content: "]";
}



footer {
  background: rgb(44, 151, 88);
    padding: 30px 20px;
    text-align: center;
    color: white;
}
