{{ define "main" }}
  <div class="single">
    <h1 class="list-title">{{ .Title }}</h1>
    {{ with .Content }}
      <div class="body">
        {{ . }}
      </div>
    {{ end }}
  </div>
  <div class="search">
    {{ with partial "functions/filter-articles" site.RegularPages }}
      <div>
        スペースで区切ると AND 検索として分解されます。<br>
        ダブルクオートで囲んだフレーズは分解されません。
      </div>
      <form class="search-form" method="get" id="search-form">
        <div>
          <label><input type="checkbox" name="c" value="1" id="case">大/小文字を区別</label>
        </div>
        <input type="search" name="q" id="query">
        <input type="submit" value="検索">
      </form>
      {{ $script := resources.Get "search.js" | resources.ExecuteAsTemplate "search.js" . | minify }}
      <script>
        {{ $script.Content | safeJS }}
      </script>
      <noscript>
        <p class="warning">JavaScript を有効にしてください。</p>
      </noscript>
      <div id="search-result"></div>
    {{ else }}
      <p class="warning">検索対象のコンテンツがありません。</p>
    {{ end }}
  </div>
{{ end }}
