{{ define "main" }}
  <div class="single">
    <h1 class="list-title">{{ .Title }}</h1>
    {{ with .Content }}
      <div class="body">
        {{ . }}
      </div>
    {{ end }}
  </div>
  <div class="search">
    {{ with partial "functions/filter-articles" site.RegularPages }}
      {{ $data := resources.Get "search.json" | resources.ExecuteAsTemplate "data.json" . | minify | fingerprint }}
      {{ $searcher := resources.Get "searcher.js" | minify | fingerprint }}
      <div>
        スペースで区切ると AND 検索になります。<br>
        ダブルクオートで囲んだフレーズは完全一致照合になります。<br>
        大文字・小文字は常に区別されません。
      </div>
      <form class="search-form" method="get" id="search-form">
        <input type="text" name="q" id="query">
        <input type="submit" value="検索">
      </form>
      <script>
        (function () {
          const data = "{{ $data.RelPermalink }}";
          const searcher = "{{ $searcher.RelPermalink }}";

          function htmlSpecialChars(text) {
            const table = {
              "&": "&amp;",
              "'": "&apos;",
              "\"": "&quot;",
              "<": "&lt;",
              ">": "&gt;",
            };
            return text.replace(/[&'"<>]/g, (match) => table[match]);
          }

          function htmlTemplate(strings, ...values) {
            let html = strings[0];
            values.forEach((val, i) => {
              html += htmlSpecialChars("" + val) + strings[i + 1];
            });
            return html;
          }

          const searchForm = document.getElementById("search-form");
          const queryInput = document.getElementById("query");

          const contentLoadedPromise = new Promise((resolve) => {
            if (document.readyState === "loading") {
              document.addEventListener("DOMContentLoaded", () => resolve());
            } else {
              resolve();
            }
          });
          const resultElementPromise = contentLoadedPromise.then(() =>
            document.getElementById("search-result")
          );

          const dataPromise = fetch(data).then((response) => {
            if (response.ok) {
              return response.arrayBuffer();
            } else {
              throw new Error(response.statusText);
            }
          }).catch((error) => {
            searchForm.outerHTML = htmlTemplate`
              <p class="error">${"検索用データファイルをダウンロードできません。"}</p>
            `;
            throw error;
          });

          function getQuery(reflectOnForm = true) {
            const params = new URL(window.location).searchParams;
            const query = params.getAll("q").join(" ");
            if (reflectOnForm) {
              queryInput.value = query;
            }
            return query;
          }

          function parse(query) {
            query = query.toLowerCase();
            const phrases = [];
            let buffer = "";
            let quoted = false;
            for (let i = 0; i < query.length; i++) {
              const chara = query[i];
              if (chara === " " || chara === "　") {
                if (quoted) {
                  buffer += chara;
                } else if (buffer) {
                  phrases.push(buffer);
                  buffer = "";
                }
              } else if (chara === "\"") {
                if (query[i + 1] === "\"") {
                  buffer += "\"";
                  i++;
                } else {
                  quoted = !quoted;
                  if (buffer) {
                    phrases.push(buffer);
                    buffer = "";
                  }
                }
              } else {
                buffer += chara;
              }
            }
            if (buffer) {
              phrases.push(buffer);
            }
            return phrases;
          }

          let worker = null;
          let cancelFetch = null;
          let cancelSearch = null;

          async function search(phrases) {
            if (worker !== null) {
              worker.terminate();
            }
            if (cancelFetch !== null) {
              cancelFetch();
            }
            if (cancelSearch !== null) {
              cancelSearch();
            }
            worker = new Worker(searcher);
            const maybeBuffer = await Promise.race([
              dataPromise.catch(() => false),
              new Promise((resolve) => {
                cancelFetch = () => resolve(false);
              })
            ]);
            if (maybeBuffer === false) {
              return false;
            }
            const arrayBufferCopy = maybeBuffer.slice(0);
            const searchPromise = new Promise((resolve) => {
              worker.onmessage = (e) => {
                resolve(e.data);
              };
              cancelSearch = () => {
                resolve(false);
              };
            });
            const message = {
              phrases: phrases,
              articleBuffer: arrayBufferCopy,
            };
            worker.postMessage(message, [arrayBufferCopy]);
            return await searchPromise;
          }

          async function main() {
            if (window.Worker) {
              const query = getQuery();
              const phrases = parse(query);
              if (phrases.length > 0) {
                const result = await search(phrases);
                if (result !== false) {
                  const element = await resultElementPromise;
                  let html = `<h2>${
                    phrases.map(x => htmlTemplate`<code>${x}</code>`).join("")
                  }</h2>`;
                  if (result.length > 0) {
                    html += htmlTemplate`
                      <p class="info">${"を含む記事が"} ${result.length} ${"件見つかりました。"}</p>
                    `;
                    html += `<ul>${
                      result.map(article => htmlTemplate`
                        <li><a href="${article.link}">${article.title}</a></li>
                      `).join("")
                    }</ul>`;
                  } else {
                    html += htmlTemplate`
                      <p class="info">${"を含む記事は見つかりませんでした。"}</p>
                    `;
                  }
                  element.innerHTML = html;
                }
              } else {
                const element = await resultElementPromise;
                element.innerHTML = "";
              }
            } else {
              const element = await resultElementPromise;
              element.innerHTML = htmlTemplate`
                <p class="warning">${"Web Worker を有効にしてください。"}</p>
              `;
            }
          }

          searchForm.addEventListener("submit", (e) => {
            e.preventDefault();
            const query = queryInput.value;
            const params = new URL(window.location).searchParams;
            params.set("q", query);
            history.pushState({}, "", "?" + params.toString());
            main();
          });

          window.addEventListener("popstate", (e) => {
            main();
          });

          main();
        })();
      </script>
      <noscript>
        <p class="warning">JavaScript を有効にしてください。</p>
      </noscript>
      <div id="search-result"></div>
    {{ else }}
      <p class="warning">検索対象のコンテンツがありません。</p>
    {{ end }}
  </div>
{{ end }}
